@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
		Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.headerGlobal {
	background-color: #f6de95bb;
	backdrop-filter: blur(8px);
}

.headerButtonsBlur {
	background-color: #fbecc187;
	backdrop-filter: blur(8px);
}

.heroTitleGradiend{
	background-image: linear-gradient(to right, #ecc346bb, black);
	background-clip: text;	
	color: transparent;
}

.pnf404 {
	background: linear-gradient(
		180deg,
		rgba(255, 255, 255, 1) 0%,
		rgba(255, 255, 255, 1) 0%,
		rgba(246, 222, 149, 1) 0%,
		rgba(255, 255, 255, 0) 100%
	);
}
